[2020-03-05 18:59] loeffel-io opened #1 "NPM Package for Windows"

[2020-03-09 11:26] loeffel-io opened #2 "Ignore not existing directories @walk"

[2020-03-09 14:34] imlinus opened #3 "*.test.js & *.js in different casings"
First off, what a great library. I'm totally loving this 👍 👍

I don't know if I really can call this a issue, _it's rather me and my old codebase_ that's not up to par (I should probably have them in a separate `/tests` folder)

I've got a bunch of .vue-files in `PascalCase.vue` and some tests `PascalCase.test.js` right next to them (in the same folders)

I would like the rest of my "pure" .js-fil

[2020-03-09 15:13] loeffel-io commented on #3
Hey @imlinus,

thank you so much, love to hear that! ❤️

Currently there is no support for different cases in the same directory.
There could be an _or_ logic operator to provide multiple rules for the same directory, but this would just crush up your project structure.

For example, i could not find any [google ](https://github.com/google) open source project with different cases in the same dire

[2020-03-09 15:17] loeffel-io opened #4 "Make directory validation optional"

[2020-03-09 15:17] imlinus commented on #3
You're absolutely right, `*.test.js` is an old recommendation from Jest, the new preferred way is to separate them by folder, so that's what I'll do :-D

Cheers,
Linus

[2020-03-09 15:17] #3 closed

[2020-03-10 23:23] loeffel-io commented on #3
fyi @imlinus: #5 will add support for sub extensions to add more flexibility

[2020-03-11 11:37] imlinus commented on #3
Wonderful ❤️

[2020-03-11 11:40] loeffel-io commented on #3
Will be available in a few minutes in npm package v1.2.1 🚀

[2020-03-11 12:11] imlinus commented on #3
I'll try it out right away 💯

[2020-03-12 10:55] #4 closed

[2020-03-12 10:59] loeffel-io opened #7 "Add regex rule"

[2020-03-12 11:33] pustovalov opened #8 "The platform "darwin" is incompatible with this module."
Hey, thx for this linter

I want to add your linter to the project, but in my team, people use both platforms: macOS and Linux

for example when I’m trying to install package for Linux on macOS:
[code]

Maybe it is better to make one package that will load different binaries depending on the platform?

[2020-03-12 11:47] loeffel-io commented on #8
Hey @pustovalov,

sorry for the inconveniences!
**I will try to make this happen as soon as i have access to a windows machine 👍**

The easiest solution should be to install the global package on your dev machines and using the linux package for your ci

[2020-03-12 14:36] imlinus commented on #8
Hi,

I'm having similar problems when deploying to Netlify which uses Linux Arch. (and I'm using Darwin locally)

At the moment I'm using the global package instead 👍 (because Netlify doesn't need it)
I really like the idea of having one package that loads different versions based on platform

Cheers,
Linus

[2020-03-12 14:41] loeffel-io commented on #8
Thanks @imlinus for your input!

I will make that happen in the next 1-2 weeks!

[2020-03-12 15:07] #7 closed

[2020-03-12 17:56] loeffel-io commented on #8
fyi: Docker support just released in v1.4.1 https://github.com/loeffel-io/ls-lint#docker

[2020-03-12 17:56] imlinus commented on #8
You're a legend 🥇 Thank you for all your hard work 🙏

[2020-03-12 22:20] apuntovanini opened #10 "Numbers in name"
Hi, thanks, I love this, finally something to make file naming consistent
A question:
[code]

Should it fail? Numbers for migration (i.e.) are necessary, i'd like to test them all anyways: how can it be solved?
Thanks!

[2020-03-13 10:35] loeffel-io commented on #10
Hey @apuntovanini,

you simply can use the new regex rules for this case:

[code]

[2020-03-13 12:24] #8 closed

[2020-03-13 12:24] #1 closed

[2020-03-13 15:24] apuntovanini commented on #10
Thanks! It works
Maybe I should file another issue (or I get something wrong), but multiple validations fail with a wrong error:
[code]
Plus, they seem to work only if a space is added after the comma in the yaml file
Thanks again
Andrea

[2020-03-13 15:36] loeffel-io commented on #10
hey Andrea,

can you please post your `.ls-lint.yml` file here

Thanks!

[2020-03-13 15:38] apuntovanini commented on #10
Sure

[code]

[2020-03-13 15:43] loeffel-io commented on #10
Thanks,

rules are logicly *and* combined, not *or*

**Example:**

[code]

will check if the PascalCase **AND** kebab-case **AND** the snake_case rule matches your directory name.

So this makes no sense

[2020-03-13 15:44] loeffel-io commented on #10
I will add this information to the readme 👍

[2020-03-13 15:47] loeffel-io commented on #10
Added 👍

[2020-03-13 15:53] apuntovanini commented on #10
ok, thanks for the explanation!

But how would you check against:

[code]

and mark both as valid? Maybe it's just outside the scope of the library
Thanks!

[2020-03-13 16:04] loeffel-io commented on #10
In this case you simply have to override your configuration for the directory `ComponentName` like:

[code]

[2020-03-13 18:09] #10 closed

[2020-03-18 17:16] loeffel-io opened #17 "Replace doublestar dependency"
Waiting for `**` support [@Glob](https://golang.org/pkg/path/filepath/#Glob)

[2020-03-18 17:17] loeffel-io commented on #17
issue: https://github.com/golang/go/issues/11862

[2020-03-18 18:13] #2 closed

[2020-03-27 21:47] bizob2828 opened #18 "Lint list of dirs/files"
I want to introduce this into our team's repo but it will be very disruptive to report all the inconistency failures.  I want to leverage husky and lint-staged.  Not sure if you've thought through this type of support or how to do it

[2020-03-27 23:13] loeffel-io commented on #18
Not sure if i got your question right, but vant uses ls-lint in combination with lint-staged and husky here: https://github.com/youzan/vant/blob/dev/package.json#L26

[2020-03-27 23:55] bizob2828 commented on #18
Sorry if I was unclear. What I meant was it’s not running ls-lint on only the changes files but the entire repository

[2020-03-30 09:09] loeffel-io commented on #18
Got it, this is currently not planed - maybe i will add this later

[2020-03-30 09:09] #18 closed

[2020-03-30 14:43] bizob2828 commented on #18
@loeffel-io would you be open to a PR on this if I do it? I don't want to invest time if it will just be rejected

[2020-03-30 14:53] loeffel-io commented on #18
@bizob2828 depends on how you want to resolve the issue (like a concept)

fyi: PRs are always welcome

[2020-04-08 23:38] james2doyle opened #19 "exit 0 on errors?"
Most linters will exit 0 if there are errors or at least have a flag to do that. Is that something you are interested in adding?

The reason being, right now, if this was in a CI pipeline it would just print the output and not actually cause fail. You could wrap up the command and test the output, but that seems excessive. Thoughts?

[2020-04-09 09:43] loeffel-io commented on #19
Hey @james2doyle,

ls-lint throws an exit `1` if there is any lint error, exit `0` if there isn`t any lint error:

- 0: https://github.com/loeffel-io/ls-lint/blob/master/main.go#L67
- 1: https://github.com/loeffel-io/ls-lint/blob/master/main.go#L81

[2020-04-09 16:18] james2doyle commented on #19
My bad. I missed that. Must be something screwed up in my environment

[2020-04-09 16:18] #19 closed

[2020-04-09 17:09] loeffel-io commented on #19
you could try `set -e`

[2020-04-10 06:55] pawelczak opened #20 "Custom pattern: kebabcase + pointcase"
Hey great tool, keep up the good work!

In our project, we use a specific convention for naming files. We combined kebabcase and pointcase, so files are named like user-list.component.ts. Is it possible for ls-lint to check for this pattern?

[2020-04-10 08:52] loeffel-io commented on #20
Hey @pawelczak,

thank you!

You simply can use sub extensions:

[code]

Another solution could be the `regex` rule

[2020-04-11 18:15] loeffel-io commented on #20
Issue solved @pawelczak?

[2020-04-13 09:13] #20 closed

[2020-04-16 11:35] #17 closed

[2020-04-20 09:58] MiroslavPetrik opened #21 "Windows: Inconsistent slash matching"
Hi, first of all thanks for the tool, simple, fast, superb!

I found issue with using it on windows.

Given config:
[code]

The result is:
[code]

I think this is strange, because obviously the `ls` part works on windows with slash `/` but the ignore part does not (which is correct as the docs mention you should use backslash on windows)

So now I fixed the ignore part to have backslash pattern fo

[2020-04-20 10:50] loeffel-io commented on #21
Thank you for your issue!

First of all: you want to use it on windows and linux/mac?

[2020-04-20 11:10] MiroslavPetrik commented on #21
Yes, I have it in a project where the devs have both win & unix systems.

[2020-04-20 13:12] loeffel-io commented on #21
Alright

FYI: The `ls` part works, cause [doublestar](https://github.com/bmatcuk/doublestar) supports this for the glob patterns (like `*` or `**`). For a normal `ls` definition, this should not work.

For now, i could implement a `--file` solution like: (in case there _could_ be more operating systems which use backslashes or some other sep char)

`ls-lint --file=".ls-lint-windows.yml"` for your

[2020-04-20 16:02] MiroslavPetrik commented on #21
I don't want to maintain 2 files with the same set of rules.
I would expect the lib to handle the input in same way on each OS properly.

E.g. I don't have `.gitignore-windows` yet the same `.gitignore` works on macs and windowses.

[2020-04-20 16:24] loeffel-io commented on #21
I agree

Try to add this feature soon

[2020-04-29 20:01] aegirokran opened #22 "Cosmiconfig to support shared configuration files"
As a developer working on multiple projects,
I want to be able to use shared ls-lint configs,
so that I don't have to copy-paste a `.ls-lint.yml` file in each repo.

It would be great if ls-lint used [Cosmiconfig](https://github.com/davidtheclark/cosmiconfig) to find and load configuration like other formatting/linting tools -

- [prettier's usage](https://github.com/prettier/prettier/search?q=cos

[2020-04-30 13:43] loeffel-io commented on #22
Hey @aegirokran,

thank you for your contribution!

I am already working on something like this as mentioned in the [roadmap](https://github.com/loeffel-io/ls-lint#roadmap):

There will be a private and public registry based on [go-saas](https://github.com/go-saas) and [registry](https://github.com/ls-lint/registry).

JSON Support could be added later 👍

Cosmiconfig is not an option, cause ls-lint

[2020-06-02 15:00] loeffel-io commented on #22
ping @aegirokran

what do you think about that?

[2020-06-28 15:21] harrytran998 commented on #21
@loeffel-io Hey bro, could I ask you what your progress in this feature? My team use both MacOs & Windown, so I can't use it on the project. Hope you fix it!

[2020-06-28 23:18] loeffel-io commented on #21
Hey @harrytran998 @MiroslavPetrik ,

i took a look - i think just changing the current path seperator to the unix path seperator should do the trick (just one line). https://github.com/loeffel-io/ls-lint/blob/master/config.go#L16

This will have some breaking changes for the window environments (must change from backslash to slash) but i could release this in a new major version.

I currently have

[2020-06-29 11:13] pustovalov commented on #21
Hey @loeffel-io,

I can check in a couple of hours

[2020-06-29 11:22] loeffel-io commented on #21
@pustovalov thanks! ❤️

Already working on it

[2020-06-29 12:40] loeffel-io commented on #21
This should do the trick:
[ls-lint-v1.9.0-beta1.zip](https://github.com/loeffel-io/ls-lint/files/4845496/ls-lint-v1.9.0-beta1.zip) (includes linux, macos and windows binaries)

Would love to see some tests on Windows machines (also some regex rule tests would be awesome, but i added some unit tests for this). ❤️

More informations: https://github.com/loeffel-io/ls-lint/tree/feature/loeffel/path-se

[2020-06-29 12:44] pustovalov commented on #21
source:
https://github.com/pustovalov/ls-lint/tree/windows-check

config:
[code]

1.8.1:
[code]

https://github.com/pustovalov/ls-lint/tree/windows-check
https://yarnpkg.com/package/pustovalov-ls-lint - 0.0.9

[code]

[2020-06-29 12:50] pustovalov commented on #21
@loeffel-io you can also release a beta version of package to the registry in feature:

Like I use for this package:
https://yarnpkg.com/package/talkable-ui-kit

[code]
https://classic.yarnpkg.com/en/docs/cli/publish#toc-yarn-publish-tag

[2020-06-29 12:55] loeffel-io commented on #21
Thank you so much!

So the last log from [comment](https://github.com/loeffel-io/ls-lint/issues/21#issuecomment-651094535) is the `v1.9.0` one?

[2020-06-29 12:56] pustovalov commented on #21
almost, I compiled your branch and published to the registry like `0.0.9`

[2020-06-29 13:06] loeffel-io commented on #21
Alright, so looks like it works right?

fyi: just published v1.9.0-beta2

[2020-06-29 13:18] pustovalov commented on #21
works for me
[code]

[2020-06-29 13:25] pustovalov commented on #21
have you added `--tag beta` when released a new version?

[code]

[2020-06-29 13:32] loeffel-io commented on #21
thats the thing: tried some formats like `1.9.0-beta2` or `1.9.0-beta.2` - looks like my drone.io [npm plugin](http://plugins.drone.io/drone-plugins/drone-npm/) can't handle beta tags or tags

so `1.9.0-beta4` is now tagged under latest which is pretty bad

[2020-06-29 13:42] pustovalov commented on #21
looks like you are right

[code]
https://www.npmjs.com/package/pustovalov-ls-lint

[2020-06-29 13:45] loeffel-io commented on #21
got it - `v1.9.0-beta.5` is now tagged as `beta`

try to unpublish all other versions now 👍

[2020-06-29 14:08] loeffel-io commented on #21
Retagged the `v1.8.1` to `latest` 👍

[2020-06-29 14:14] loeffel-io commented on #21
Docker tags also fixed 👍

[2020-06-29 14:16] loeffel-io commented on #21
I will give @MiroslavPetrik, @harrytran998, .. a chance to test the beta version for the next 24 hours - then i will release the v1.9.0

[2020-07-02 11:17] #21 closed

[2020-07-02 11:22] loeffel-io commented on #21
v1.9.0 released 🕺

[2020-07-06 07:46] aladdin-add opened #24 "readme.md was not published"
![image](https://user-images.githubusercontent.com/13050025/86568709-dd327c00-bf9f-11ea-929c-2d21c29846ed.png)

[2020-07-06 12:48] loeffel-io commented on #24
Thanks @aladdin-add for your contribution!
I will fix this in the next release

[2020-07-10 16:13] Glazy opened #25 "Handling regular expression containing '|' symbol"
We are trying to match files with the following regular expression: `[a-z][a-zA-Z0-9]*(Resolver|Schema)(\.test)?` using the below config:

[code]

However, upon running the tool, we receive the following error: `rule Schema)(\.test)? not exists`.

Any pointers on escaping the pipe character so we can achieve this functionality? 🙏

[2020-07-10 16:32] Glazy commented on #25
Just re-read the documentation and saw the following bullet: `Multiple rules supported by | - They are logicly OR combined`.

If anyone else experiences this issue, I used the following to get it working:

[code]

Maybe the documentation could be updated to contain an `|` example and a regex example 🤔 If I get some time soon then I will submit a PR.

[2020-07-10 17:53] loeffel-io commented on #25
Already working on a full documentation ✌🏻

Will be available soon: https://ls-lint.org

[2020-07-11 15:09] loeffel-io commented on #25
Reopened the issue in case of | breaking the regex pattern

[2020-07-22 20:50] loeffel-io commented on #25
Documentation released @ [ls-lint.org](https://ls-lint.org)

@pustovalov listed you at the contributions: https://ls-lint.org/1.x/prologue/contributions.html#contributors
@Glazy used a part of your regex definitions as examples: https://ls-lint.org/1.x/configuration/the-rules.html#using-multiple-regex-rules

Thank you guys!

Issue closed because the issue is now documented

[2020-07-22 20:50] #25 closed

[2020-07-23 10:06] loeffel-io commented on #24
Readme fixed: https://www.npmjs.com/package/@ls-lint/ls-lint

[2020-07-23 10:06] #24 closed

[2020-07-23 10:56] brattonross commented on #22
I'm also interested in being able to share config, but also sharing config in a more modular way e.g. through the use of plugins.

The particular use case that I'm thinking is this; I'm the developer of a Vue component library and I want to follow the convention of prefixing my components with a letter e.g. `VComponent`. Out of the box to support this I need to write my own regex -- which admitted

[2020-07-23 12:33] Techassi opened #27 "(Windows) Error: . not found"
When I try to execute `ls-lint` on my windows machine the following error gets returned: `. not found`.
Config file is present and in my project root directory:

[code]
_Pretty basic, wanted to test `ls-lint`_

When I try to execute `ls-lint` in a directory without a config, the correct error `open .ls-lint.yml: The system cannot find the file specified.` gets returned.

Am I missing something her

[2020-07-23 12:59] loeffel-io commented on #27
Hey @Techassi,

you installed the global npm package?

Could you please send me the *full output* for this commands:

[code]

Thanks!

[2020-07-23 13:06] loeffel-io commented on #22
Hey @brattonross,

thanks for your contribution!

Thats a good idea but will not that easy to resolve for any programming language.

Could you give me an example of how you want to use a plugin like this?

[2020-07-23 13:18] Techassi commented on #27
No I didn't install the npm package - I downloaded the win64 binary and placed the execuable in my `PATH`.
I think I found the underlying problem, I first used this config:

[code]
and then switched to:

[code]

Apparently `ls-lint` cannot handle non existent directories.

[2020-07-23 13:33] loeffel-io commented on #27
Can't confirm this.

**Tree:** (node_modules dir not exists)

[code]

Works without any issues

Would love to see the output from the mentioned commands at https://github.com/loeffel-io/ls-lint/issues/27#issuecomment-662991685

[2020-07-23 13:42] Techassi commented on #27
Okay strange... Here are the outputs:

`dir`:
[code]
`ls-lint`: Nothing at all

[2020-07-23 13:47] loeffel-io commented on #27
Do you used config 1 or 2 for this outputs?

_Nothing at all_ - this means everything works fine (exit 0) 👍

[2020-07-23 14:07] Techassi commented on #27
Config 1: `2020/07/23 16:04:59 . not found`
Config 2: Nothing (yes it works)

[2020-07-23 14:09] loeffel-io commented on #27
Thank you very much! ❤️

Could you please send me the tree for the public and public/js directories?

[2020-07-23 14:18] Techassi commented on #27
`public`:

[code]

`public/js`:

[code]

[2020-07-23 14:45] brattonross commented on #22
I appreciate that it is possibly more complex than it is worth to implement. The first thing that comes to mind is:

[code]

The listed plugins should be package names of plugins to resolve. These plugins should expose a map of rules such as the ones in `rule.go`. It should then be possible to use those rules in your `ls-lint.yml` file as you would with built in rules.

I guess the complexity is t

[2020-07-23 16:51] loeffel-io commented on #27
Strange!

Could you test this configuration:

[code]

Thank you!

[2020-07-23 17:01] loeffel-io commented on #22
Got it! What about the following solution:

As mentioned above there will be a `base` option to extend `.ls-lint.yml` files from the registry.

So your parent/plugin `.ls-lint.yml` could look like:

[code]

and then your own `.ls-lint.yml` config would look like:

[code]

This could work for any programming language through the registry and the compiler could create new regex rule for any defined

[2020-07-23 17:34] Techassi commented on #27
With the your proposed config

[code]

I get `2020/07/23 19:33:21 . not found`

[2020-07-23 17:41] loeffel-io commented on #27
Could be an path seperator issue maybe

Could you please run it one last time with this config:

[code]

Is this an open source project?

Thank you!

[2020-07-23 17:53] Techassi commented on #27
Surely! Windows doing Windows things...

The above config works without any errors!

Yeah kinda... But still in heavy development! (If you are interested: https://github.com/Techassi/mux) The main development is done on my own Git. After I feel confident in the code I will push the code onto GitHub.

I will stick with this config from [here](https://github.com/loeffel-io/ls-lint/issues/27#issuecom

[2020-07-23 18:07] loeffel-io commented on #27
So `public/js` works? - Then it could be a hidden file or something like that 🤔

Nice one!

**Summary:**

I'm confused

**(1) Error**

[code]

**(2) No error:**

[code]

**(3) Error:**

[code]

**(4) No Error:**

[code]

Can you please confirm or correct this?

Thanks!

[2020-07-23 18:58] Techassi commented on #27
Yeah maybe...

**(1) Error** - Error
**(2) No error** -No error
**(3) Error** - Error
**(4) No Error** No error, after correcting to this:
[code]

[2020-07-23 23:08] brattonross commented on #22
I think being able to define your own rules and reuse them is a great idea, and much less complicated than my suggestion!

[2020-07-23 23:54] barnett opened #28 "Incorrect documentation reference to snake_case"
On this [page](https://ls-lint.org/1.x/configuration/the-basics.html#using-multiple-rules) the below example is shown:

[code]

Notice `snake-case`, it should have an `_` instead, thus if ya run the above one would get an error.

Tried to find a place to PR the fix but was unable to find such a location, hope the issue will be helpful.

[2020-07-24 07:32] loeffel-io commented on #28
Hey @barnett,

thank you for your contribution!

As mentioned at [contributions](https://ls-lint.org/1.x/prologue/contributions.html) there is a [docs](https://github.com/ls-lint/docs) repository for that

Would love to see a PR from you if you want to, otherwise i will fix this in a few hours

Have a good day!

[2020-07-24 07:35] loeffel-io commented on #22
Nice to hear that! I think this could be a great feature and will be mentioned in the `v2` collecting thread soon

[2020-07-24 14:49] barnett commented on #28
Ah missed that, will put up a PR later today. Thanks you 🙏

[2020-07-24 15:03] #28 closed

[2020-07-24 15:07] loeffel-io commented on #28
Thank you @barnett

Added as contributor https://github.com/ls-lint/docs/commit/da783013ff54e0c8d455841cc63e8b5576fb01b8

[2020-07-27 07:55] batisteo opened #29 "Configuration file should be named .ls-lint.yaml"
The extension `.yaml` should be preferred over `.yml`, in a similar way we use `.html` instead of `.htm`.

[2020-07-27 09:12] loeffel-io commented on #29
Hey @batisteo,

thank you for your contribution!

I personally do prefer `yml` instead of `yaml` but i will take care about that in `v2` by `ls-lint -f .ls-lint.yaml`.

[2020-07-27 09:15] loeffel-io commented on #27
Hey @Techassi,

thanks for that! I can't reproduce this issue for now - but i will keep that in mind - will not close the issue

FYI (4) or `public/js` will disable all rules inside your `public/js` directory

[2020-07-27 09:46] batisteo commented on #29
Cool

From https://yaml.org/faq.html:

[2020-09-15 12:05] tobiastimm opened #30 "Rule: Exists"
It would be cool if this would have a check to ensure that a directory/file exists!

[2020-09-15 12:10] tobiastimm opened #31 "Problem with nested rules"
I have the following `.ls-lint.yml`:

[code]

I want that every TypeScript file validates against `kebab-case` except the ones within the components `__tests__` directory.

The console is throwing errors that within `../components/Button/__tests__/`
`Button.test.ts`
has not a file-name with kebab-case

Is this intended? I would assume that more specialized rules overwrite the general ones

[2020-09-15 12:16] loeffel-io commented on #30
Yea, also thought about this but its not that easy to implement
Will put this on the wishlist

[2020-09-15 12:19] loeffel-io commented on #31
This should work pretty fine
Could you try to swap the directories like

[code]

[2020-09-15 14:43] loeffel-io commented on #31
@tobiastimm any updates?

[2020-09-15 14:51] tobiastimm commented on #31
@loeffel-io same error
[code]

[2020-09-15 14:59] tobiastimm commented on #31
@loeffel-io
This seems to work for the `components/__tests__` directory and all sub `__tests__` directories
[code]

[2020-09-15 15:50] loeffel-io commented on #31
the real problem could be the trailing `/` at `services/*/` - could you please try it without the slash

if this breaks any yaml rules you can just write something like `'services/*'`

[2020-09-15 16:09] tobiastimm commented on #31
I will try it out tomorrow! Thanks

[2020-09-21 13:09] stubar opened #32 "Strict mode?"
At the moment the rules kick in if an extension has been matched. It would be nice to stipulate that only files of a certain extension are allowed (with case rules enforced).

[2020-09-21 13:10] loeffel-io commented on #32
Please provide more infos

[2020-09-21 13:10] stubar commented on #32
At the moment the rules kick in if an extension has been matched.  It would be nice to stipulate that only files of a certain extension are allowed (with case rules enforced).

[2020-09-21 13:11] loeffel-io commented on #31
Hey @tobiastimm, could you already check the issue? Thanks

[2020-09-21 13:11] stubar commented on #32
Sorry I seem to have pressed the return key prematurely!

[2020-09-21 13:12] loeffel-io commented on #32
Could you please make an example about that

[2020-09-21 13:13] stubar commented on #32
I have this setup for my components folder...

[code]

[2020-09-21 13:23] loeffel-io commented on #32
Got it! Like https://github.com/loeffel-io/ls-lint/issues/30 we could create something like `not_exists` rule

What do you think?

[2020-09-21 13:39] stubar commented on #32
Yes that sounds like it would work, you could have exists(count).  Same rule could enforce no occurrences `exists(0)` and may theres a case where you only ever want one occurrence of that extension `exists(1)`.

Also I thought as a work around for my js rule, I could for now set a regex that insists on a char not allowed by filesystems.

[2020-09-21 13:59] loeffel-io commented on #32
yea, i will think about that some time

I think this will be added in v2 👍

[2020-09-21 14:03] stubar opened #33 "Do the ignores have lower specificity?"
If I have setup
[code]

I would have expected the creation of a `index.tsx` within `src/pages` to be OK as it's an ignored pattern but it gets caught by the `PascalCase | regex:^_.* ` rule.

I can get around this by using
[code]
Maybe globs aren't recognised in the ignore list?

[2020-09-21 14:12] loeffel-io commented on #33
As you can read here https://ls-lint.org/1.x/configuration/the-basics.html#using-directory-patterns the glob pattern is currently only supported by the **ls** option

[2020-09-21 14:17] stubar commented on #33
OK thanks

[2020-09-21 15:19] tobiastimm commented on #31
@loeffel-io Sry will do first thing in the morning!

[2020-09-21 17:25] #33 closed

[2020-09-22 09:12] tobiastimm commented on #31
@loeffel-io it does not work with these settings
[code]

`2020/09/22 11:11:37 ./services/cart/components/__tests__/Benefit.test.ts failed for rules: kebabcase`

[2020-09-22 09:19] harrytran998 opened #34 "How to Shorten the multiple lines regex in one line!"
Hi the owner, I have a rule like that
[code]
So I want to do like the normal regex --> Just one line

[code]

Thank you bro!

[2020-09-22 10:42] loeffel-io commented on #34
Hey @harrytran998

sorry about your issue, but its currently not possible to handle this with one regex rule - because the OR operator `|` breaks the pattern

I think the OR operator gets extended in v2 with a ongoing and trailing whitespace - then this should work 👍

I will keep you updated

[2020-09-22 10:54] loeffel-io commented on #31
Got it!

`services/*/components/*/__tests__` will just works if there are is any directory between `components` and `__tests__`

**Here you can see that `services/*/components/*/__tests__` is not a valid pattern for your case:**

`services/*/components/*/__tests__`:

[Glob tester](https://www.digitalocean.com/community/tools/glob?comments=true&glob=services%2F%2A%2Fcomponents%2F%2A%2F__tests__&mat

[2020-09-22 10:54] #31 closed

[2020-10-01 19:50] loeffel-io commented on #33
Hey @carestad

yeah, there will be glob pattern support for `ignore` later - but its currently not my focus

[2020-11-06 05:42] aegirokran commented on #22
I can appreciate your dedication to keeping this tool language agnostic.

For my needs, within my organization I have many TypeScript apps. I'd like to use the same `ls-lint` configuration for each project, and have that config be published somewhere private like to an internal npm registry.

It would be nice if `ls-lint` could extend from a shared configuration in JS or even JSON format similar t

[2020-11-09 14:05] loeffel-io commented on #22
@aegirokran this should be possible

fyi: after 6 months of hard work we just finished the beta of [makeless](https://github.com/makeless) (go-saas => makeless) and we will try to go forward with the registry in the next weeks

[2020-12-03 12:51] chuyik opened #35 "ignore pattern is not applied to subdirectory"
The `ignore` pattern is not applied to subdirectory, for example:

[code]

config:
[code]

I have to add an ignore pattern like `packages/some-package/node_modules`, but it's still a workaround, not a perfect solution.

[2020-12-03 13:18] loeffel-io commented on #35
Hey @chuyik,

thank you for your contribution - as mentioned in the [docs](https://ls-lint.org/1.x/configuration/the-basics.html#using-directory-patterns) there is currently no glob support for the `ignore` part

Will be added in v2

[2020-12-03 13:18] #35 closed

[2020-12-07 22:09] loeffel-io commented on #30
How you would solve this in your config?

[2020-12-07 22:25] loeffel-io opened #36 "Version 2"
Thank you for 100 000 NPM Downloads! The project is growing constantly and we are starting the development of v2 soon!

Planned features:

- Extend `|` operator with a ongoing and trailing whitespace to support the regex alternation operator #34 ✅
- `exists` + `not_exists` + `only` directory rules #30 #32 (for example: `only:.js,.ts`)
- Support `.yaml` configs #29 ✅
- Glob support for `ignore` #35

[2020-12-10 16:26] rarkins commented on #35
@loeffel-io FYI it doesn't mention `ignore` specifically where you linked:

![image](https://user-images.githubusercontent.com/6311784/101799707-c5da5a80-3b0c-11eb-8052-c266bfe1229c.png)

[2020-12-10 16:29] loeffel-io commented on #35
yeah, you are right - you can apply a pr for this if you are interested: https://github.com/ls-lint/docs

[2020-12-11 13:04] tobiastimm commented on #30
Would be cool to have something like
[code]
Pretty similar to how [goss](https://github.com/aelsabbahy/goss) handles that
[code]

[2020-12-11 14:36] loeffel-io commented on #30
like it but conflicts with my current idea of handling files via `exists` rule:

maybe we could add .dir to this list like:

`.dir: exists:.js,.ts,.dir`

Maybe you have an better idea

[2020-12-11 14:39] loeffel-io commented on #30
Yeah, thats what i also thought about 👍

[2020-12-28 07:22] superlbr commented on #36
hi, any plan to support arm?
[code]

[2020-12-28 09:11] loeffel-io commented on #36
Yes, added to the list :+1:

[2021-01-08 07:47] shlroland opened #38 "i add @ls-lint/ls-lint in my vue3 project,but it cannt work currently."
[code]

[2021-01-08 07:49] loeffel-io commented on #38
You installed ls-lint instead of @ls-lint/ls-lint

[2021-01-08 07:51] loeffel-io commented on #38
https://ls-lint.org/1.x/getting-started/installation.html#npm-package

[2021-01-08 07:51] #38 closed

[2021-01-08 07:51] shlroland commented on #38
it still dispaly `lint livescript source files
`

[2021-01-08 08:04] loeffel-io commented on #38
Check your npm or yarn lock file

[2021-01-14 11:53] basharov opened #39 "How to disable some specific names?"
I'd like to prohibit using filename `index.css` in my components but cannot find details about the syntax of regex used in the project to build a proper expression.

Please advise.

[2021-01-14 12:05] loeffel-io commented on #39
So everything for `.css` should be allowed expect `index.css`?

[2021-01-14 12:06] basharov commented on #39
You're right, I want to allow any css filenames except `index.css`

[2021-01-14 12:11] loeffel-io commented on #39
https://regex101.com/r/xYtUN5/1 could work

[2021-01-14 12:23] basharov opened #40 "How to lint only a list of passed files?"
I use this tool https://github.com/okonet/lint-staged to lint my changed files before committing them.
Only files I changed are linted, so if there are some legacy files that don't meet the rules, they don't get linted and don't break my flow.

Is it possible to make ls-lint work in a similar way - lint only files passed as arguments by lint-staged?

[2021-01-14 12:26] basharov commented on #39
@loeffel-io It showd the error:

[2021-01-14 12:29] loeffel-io commented on #39
`"Go regex does not support lookarounds."` - thats sad

In this case you have to find a way to convert your lookarounds to std regex

[2021-01-14 12:30] loeffel-io commented on #39
just keep in mind that there is the `ignore` pattern: https://ls-lint.org/1.x/configuration/the-basics.html#creating-configuration
maybe this can help you too

[2021-01-14 12:34] loeffel-io commented on #40
currently not, but i will keep that in mind when i will build the `v2`

[2021-01-14 12:35] loeffel-io commented on #36
Pretty cool idea: #40

[2021-01-14 22:46] lo-corp opened #41 "Configuration file request."
It doesn't look good when you're forced to use only .yml file extension.

I want to store the config in ls-lint.yaml, and I'm sure some people would like the configs in json format as well. is it possible?

Afaik there're some pre-built tools to enable this behaviour.

https://github.com/search?o=desc&q=config+json+yaml&s=stars&type=Repositories

[2021-01-15 08:41] loeffel-io commented on #41
Duplicate of #29 and mentioned in #36

[2021-01-15 08:41] #41 closed

[2021-01-15 08:42] #40 closed

[2021-01-15 08:43] loeffel-io commented on #39
@basharov to make it more easy we could provide a `not_regex` rule in `v2` 🤔

[2021-01-15 12:31] lo-corp commented on #29
how about picking `c` as config file argument? `ls-lint -c .ls-lint.yaml` `ls-lint --config .ls-lint.yaml` and not `ls-lint -f .ls-lint.yaml`?

[2021-01-22 20:37] jfairley opened #42 "Slow for my project (1.9.2)"
First, let me start by saying that I love `ls-lint`. This is one of those things I didn't know I needed until I had it.

However despite the advertised speed, `ls-lint` isn't all that quick for me. I'm wondering if it has to do with my config, and whether you might have tips on what I could change to speed things up. I'm using version 1.9.2.

First, timing (macOS Big Sur on a 2019 16" with an Inte

[2021-01-23 00:06] loeffel-io commented on #42
Hey, sorry to hear that - will get back to you when i am back at my pc
Just to collect more informations: could you please try the paths in ignore without the trailing \

Have a good day!

[2021-01-23 00:10] loeffel-io commented on #42
Your config looks beautiful btw 👍

[2021-01-25 17:34] jfairley commented on #42
@loeffel-io thanks!

---

1. I tried removing trailing slashes.
2. I tried _adding_ leading `./`.
3. I tried these two things together.

As far as I can tell, removing the trailing slack makes no noticeable difference. It _seems_ like adding the leading `./` brings down the average execution time, but it's still not great. I should really build a script to run this command a bunch of times in succ

[2021-01-25 19:03] jfairley commented on #42
I figured out how to repeat. It's actually super easy b/c I'm using zsh. 😅

Note, these are all 10 iterations, so divide the time by 10.

<img width="732" alt="Screen Shot 2021-01-25 at 12 00 48 PM" src="https://user-images.githubusercontent.com/992483/105752841-064b3780-5f05-11eb-98f5-2448e36e6cb3.png">
<img width="726" alt="Screen Shot 2021-01-25 at 12 00 54 PM" src="https://user-images.githubus

[2021-01-27 10:31] loeffel-io commented on #42
Alright, thank you for all of this informations - Will take a look when i build up the `v2` - maybe there is an issue with the ignore index.

Thanks!

[2021-01-27 18:56] jfairley commented on #42
Perfect, thanks!

---

I think you're right. I had an ah-ha idea... try to lint without `node_modules`.

<img width="474" alt="Screen Shot 2021-01-27 at 11 52 39 AM" src="https://user-images.githubusercontent.com/992483/106039384-4c83d080-6096-11eb-9686-b8c0024f4050.png">

It was so fast, I thought maybe it didn't run with `npx`, so:

<img width="518" alt="Screen Shot 2021-01-27 at 11 52 46 AM" sr

[2021-01-28 11:34] loeffel-io commented on #42
Perfect haha
I think i have to stop the walking through the ignored ones
Will fix this in `v2` 👍

To speed up your CI builds you can just run ls-lint via npx before you even run npm install

[2021-01-29 19:24] aegirokran opened #44 "Support for SCREAMING_SNAKE_CASE"
In our projects, we tend to add may items to the `ignore` list in the `.ls-lint.yml` config file for common Markdown files. Per industry common practices, these files are named with `SCREAMING_SNAKE_CASE`. For example:

`.ls-lint.yml`
[code]

It would be great to not have to add these to the ignore list for many repos. Would it be a possibility to add support for SCREAMING_SNAKE_CASE to ls-lint so

[2021-02-02 09:09] loeffel-io commented on #36
Added: #44

[2021-02-02 09:10] loeffel-io commented on #44
Hey @aegirokran,

great idea - will add this to the `v2`

Anyone: feel free for a pull request (!)

[2021-02-08 15:21] brunomperes opened #45 "Selectively override rules for inner directories"
First of all, thanks for the great plugin!

I see in the docs that having a directory config causes it to override all rules for the inner directories:

![Screenshot 2021-02-08 at 16 13 29](https://user-images.githubusercontent.com/1819575/107238876-966e9e00-6a28-11eb-99fc-536c859a7fce.png)

I think most of consumers imagine the rules to work like `.gitignore`, so adding a rule for certain extensi

[2021-02-08 15:31] loeffel-io commented on #45
Hey @brunomperes,

thank you for your question and suggestion, but thats the design of ls-lint and "wanted".

The reason for this is that - in our opinion - a project should have a strict definition on where your specific files life.

Example:

`components` directory should just include components like `.vue` files and maybe some `.js` or `.ts` tests - they could include some subdirectories but th

[2021-02-09 08:43] #45 closed

[2021-02-22 22:04] wiget commented on #36
Arm support is in #43

[2021-02-27 10:45] binary64 opened #46 "Directory names"
Hi I have some regex here https://regex101.com/r/ISyaUy/1

And I try it like this:

[code]

But it gives an error:

[code]

[2021-02-27 17:17] loeffel-io commented on #46
Hey @binary64,

the regex alternation`|` is not supported: https://ls-lint.org/1.x/configuration/the-rules.html#using-multiple-regex-rules

So your config should looks like this (not tested):

[code]

[2021-02-27 22:27] binary64 commented on #46
Thank you that works (sort of), but what I am really looking to do is also validate the directory name(s) that sit inbetween the `apps/web/components/` and the `.tsx`. For example I would like all these to fail:

apps/web/components/abc-Def.tsx
apps/web/components/abc-Def/abc-def.tsx
apps/web/components/abc-Def/ghi-Jkl/blah-one.tsx

[2021-02-28 13:49] loeffel-io commented on #46
there you go: https://ls-lint.org/1.x/configuration/the-basics.html#linting-directory-names

[2021-03-01 22:04] #46 closed

[2021-03-21 18:00] ZubkoWhatislove opened #47 "One regex for everything"
Hi there 🙂

Maybe I missed something in the documentation, but can I use one `regex` for any files?

![image](https://user-images.githubusercontent.com/60396171/111915639-eefd7600-8a7f-11eb-90bd-afed2e859151.png)

Thanks 🙂

[2021-03-21 18:00] #47 closed

[2021-03-21 18:02] What1s1ove opened #48 "One regex for everything"
Hi there 🙂

Maybe I missed something in the documentation, but can I use one `regex` for any files?

![image](https://user-images.githubusercontent.com/42296182/111915729-692dfa80-8a80-11eb-833a-1f25cf180350.png)

Thanks 🙂

[2021-03-22 10:33] loeffel-io commented on #48
Hey, that will be supported in v2 #36 (Reusable rules) 👍

[2021-03-22 10:33] #48 closed

[2021-03-27 16:21] aegirokran commented on #44
Thank you for the acknowledgment. Glad to know that it'd be a welcome addition.

[2021-03-30 07:02] tianweicc opened #49 "How to use it with git commit？"
Combined use of screenshots：![image](https://user-images.githubusercontent.com/17263719/112946947-bd179e00-9168-11eb-9ab3-d18609900fea.png)
Print screenshot：![image](https://user-images.githubusercontent.com/17263719/112946977-c6a10600-9168-11eb-814e-c6dcdf73b879.png)

Why don't error messages print？

I want this
![image](https://user-images.githubusercontent.com/17263719/112947107-fb14c200-9168-1

[2021-03-31 02:14] BryanAdamss opened #50 "How to set a default rule?"
Its support set defalut rule for all files?
Just use a special format for a particular type of file?

[code]

[2021-03-31 11:58] loeffel-io commented on #50
The is currently no support for a default rule because ls-lint try to drive everything pretty strict ✌️

[2021-03-31 11:58] #50 closed

[2021-03-31 12:00] #49 closed

[2021-04-14 21:01] jnardone commented on #36
Any ETA on this?  The glob stuff alone for `ignore` is killing me.

[2021-04-17 18:58] dalisoft opened #51 "M1 Apple Silicon support?"
Hi @loeffel-io

Is there will be Apple Silicon support?

[2021-04-17 19:03] dalisoft commented on #51
Sorry, seems #43 already here, but would be nice to see arm64 version ;)

[2021-04-17 19:03] #51 closed

[2021-05-03 12:00] binary64 opened #52 "Special characters in filename - [id].tsx"
Hi, what would the regex be to allow a file called `[id].tsx` ?

Many thanks

[2021-05-03 12:13] loeffel-io commented on #52
Hey @binary64, like this `[\d]+` or `\[id\]` ?

[2021-05-03 14:50] binary64 commented on #52
Ah this works:
[code]
for the `[xxxx].tsx` files but not for regular files like `index.tsx`

But this doesn't
[code]

[2021-05-03 14:55] binary64 commented on #52
Working solution:
[code]
Not sure what I did wrong but it's working now. Thank you.

[2021-05-03 14:55] #52 closed

[2021-05-05 22:31] airtonix commented on #40
should label this as desired for v2 so it doesn't get missed. this is fairly critical to ls-lint uptake.

[2021-05-07 19:30] binary64 opened #53 "Feature request: Allow passing files via argv"
So that we can use ls-lint from lint-staged, where it passes git staged files as command arguments such as:
[code]
The result would be an insanely fast execution.

[2021-05-17 08:25] loeffel-io commented on #53
duplicate of #40

[2021-05-17 08:25] #53 closed

[2021-05-24 07:14] subdance opened #54 "Macbook pro new M1 chip not supprted?"
` @ls-lint/ls-lint@1.9.2: The CPU architecture "arm64" is incompatible with this module.`
When I was installing ls-lint with yarn this message showed and I was failed to install ls-lint.
node version 15.3.0

[2021-06-01 03:44] ModyQyW commented on #54
See https://github.com/loeffel-io/ls-lint/issues/36.

[2021-06-01 12:07] #54 closed

[2021-06-03 01:06] binary64 opened #55 "Feature request: Detect duplicate filenames"
On Linux you can create 2 files of the same name, only differing by case. It would be great to have a flag to detect this and fail. The purpose would be to protect Windows users from enduring a git repo with 2 files of the same name.

[2021-06-08 09:57] loeffel-io commented on #55
Hey @binary64, currenlty there is no plan to support this, but i will add this to the wishlist ❤️

[2021-07-12 03:37] NicolasReibnitz opened #56 "Wildcard support for file extensions?"
Hi!

First of all, I'd like to say that I love this! Exactly what I was looking for! Thanks!

One feature that seems to be missing (or would be great to have) is the option to set a general rule for all files. Specifically to say that all files and folders should be lowercase, regardless of their extension.

It seems that something like this isn't possible:

[code]

Correct?

The alternative would

[2021-07-15 09:08] brunomperes opened #58 "Installing npm module on M1 CPU fails"
After moving to a Macbook with Apple M1 chip the installation of npm package is failing with the following message:

[code]

node's `process.arch` is giving me `'arm64'` , I'm on macOS 11.4 and node v14.17.3.

Any advice? I see there are some [CPU restrictions on the package.json](https://github.com/loeffel-io/ls-lint/blob/master/npm/package.json#L16-L19), but theoretically it should work?

Possib

[2021-07-15 09:58] loeffel-io commented on #58
Please check out 1.10.0-beta.2

[2021-07-15 09:58] #58 closed

[2021-08-05 01:36] ElsaOOo commented on #40
yes, I want to lint my staged files, and this is most needed

[2021-08-14 07:07] LaamGinghong commented on #39
I also encountered the same scene. In my scenario, I want all tsx files except for the file name `use***.tsx` to use the pascal case rule, and `use***.tsx` to use the camel case rule. It doesn’t seem to meet my needs so far

[2021-08-22 16:32] dutzi opened #59 "Support for ComponentName/ComponentName.tsx"
I don’t know how to call this requirement, but in a lot of React projects you’ll see the following pattern:

Within the folder: `./src/components/ComponentName` you’ll find: `ComponentName.tsx` and `ComponentName.module.scss`.

So the containing folder’s name is the name of the files within it.

I suggest the following syntax:

[code]

Hope this is clear enough, and that I haven’t missed this opti

[2021-08-22 16:42] dutzi opened #60 "Be less like eslint and more like prettier"
Incorporating yet another tool that screams at you when you’ve done something wrong might be hard in some teams.

People will say “ah, why do we need this? Just take a look at the other file names for reference”.

But, if this tool, after configured properly, would also be able to scaffold parts of the project, that would be super awesome.

I imagine a cli counterpart that, for example, if you can

[2021-08-22 16:46] dutzi commented on #60
The title of this issue is a bit misleading, as my example tends more toward Yeoman, or similar scaffolding tools, than towards prettier.

Another option, more like prettier would be that this tool could offer to “fix” folder/file names as it is watching over changes.

[2021-08-27 11:20] kawpii opened #61 "ignore not working for file"
Thanks for the ls-lint tool. :+1:

I have following .ls-lint.yml

[code]
I am getting following error

[code]

[Here](https://github.com/flow-typed/flow-typed/blob/master/definitions/npm/react-dom_v17.x.x/flow_v0.127.x-/react-dom_v17.x.x.js) is the react-dom_v17.x.x.js

[2021-08-27 11:54] #61 closed, assigned to nobody

[2021-08-31 17:02] jgornick commented on #56
I've found myself wanting to use wildcards (i.e. glob) for other things like ignore paths as well.

Is it possible to use globs wherever matching needs to happen (e.g., extensions, paths, ignore)?

[2021-09-03 12:22] NealST opened #62 "how can i config the error message"
the default error message "failed for rules: kebab-case" is not easy understandable, so I want to config my error message for it.

[2021-09-19 14:30] AmirTugi opened #63 "Adding ls-lint on an existing project ("warn" option)"
Hey, I would like to add this package to my project.
However, it's a big project and I want to make the migration slow-but-steady.
Is there any way to add "warn" rule like eslint just until we migrate all the badly named files/folders?

[2021-10-01 22:46] thescientist13 commented on #36
Looks like as of version >= 1.10.0 arm64 M1 Mac support Is available.  Thank you!  🙏

[2021-10-18 19:23] jackchoumine opened #64 ""ReferenceError: module is not defined" when run lsl-lint"

[2021-10-18 21:28] loeffel-io commented on #64
Please provide more informations

[2021-10-19 07:51] #63 closed

[2021-10-21 18:48] #64 closed, assigned to loeffel-io

[2021-11-02 13:52] loeffel-io commented on #62
Hey @NealST, what error message would you like to see?

[2021-11-08 15:01] plaindocs commented on #62
Came here to write this :point_up: .

Something like

[code]

might be better.

But how do you feel about adding

[code]

[2021-11-08 17:36] wburningham commented on #63
@loeffel-io I would love to submit a PR to add this functionality. I think this can be added in a backward-compatible way that does not require a major version bump. By adding it to your v2 list are you expecting it to be non-backwards-compatible or is the v2 list just a place to add features you want to do.

[2021-11-09 09:49] loeffel-io commented on #63
I would love to see a PR from you @wburningham

[2021-11-10 06:26] NealST commented on #62
@plaindocs，your said is what I want, and on the other hand, most of my users are chinese, so I want to config the error message to chinese. Something like this:

`./pages/test-test.md.erb 需要使用驼峰格式编写`

[2022-01-14 21:44] binary64 commented on #60
I like this idea.

"Just take a look at the other file names for reference" - By default, with no config, maybe it could do this, using some kind of naive statistical analysis on the existing files.

For the autofixing idea, please check out benawad/destiny on github.

[2022-01-30 18:51] loeffel-io commented on #27
closed for now - feel free to reopen

[2022-01-30 18:51] #27 closed

[2022-01-31 00:09] loeffel-io commented on #36
https://github.com/loeffel-io/ls-lint/pull/66 is on the way with some great changes 🕺

[2022-02-01 10:55] aphecetche commented on #56
Indeed, using a default rule for all files (possibly in a subdirectory) would be super helpful. My use case : checking that image files are all kebab case. Currently I cannot use `ls-lint` for that as for instance I don't know how to write a rule for `don_t_like_this_name.JPG` because it's the _extension_ that is breaking the naming convention...

[2022-02-01 20:10] loeffel-io commented on #56
Hey,

agree to all of you and i'll try to bring more and more glob patterns to ls-lint.

@aphecetche `.JPG: kebeb-case` isn't working?

[2022-02-01 23:03] loeffel-io commented on #60
Closed for now; ls-lint is for all kind of programming languages, so this feature request would blow up the main idea

Thanks for your contributions anyway!

[2022-02-01 23:03] #60 closed

[2022-02-01 23:04] loeffel-io commented on #44
Will be part of v1.11.0 🎉

[2022-02-01 23:04] loeffel-io commented on #42
Will be part of v1.11.0 🎉

[2022-02-01 23:58] jfairley commented on #42
I just tried it, and execution times are cut by 25% (~4s down to ~1s). Thanks, @loeffel-io!

[2022-02-02 00:00] jfairley commented on #42
For specifics, compared to the initial times I posted upon opening this topic, after running this a number of times, most execution times are `1.03s`. Consider, this repo is also much bigger today than it was a year ago. I'm very pleased with the work you've done! 🍻

[2022-02-02 00:18] loeffel-io commented on #42
Thanks! v1.11.0 and the bug fix is not released yet - the performance will be way better after the release ✌️

[2022-02-02 00:20] loeffel-io commented on #42
Thank you so much for the sponsorship! ❤️

[2022-02-02 22:39] jfairley commented on #39
@LaamGinghong I keep all of my hooks in a separate directory (`src/hooks`). That way, I can set up a separate rule for my hooks directory.

[2022-02-02 22:42] jfairley commented on #39
@loeffel-io I'm here looking for something similar. It would be nice to define reject patterns. `index.css` is one example, but similar, imagine my project is using a postcss library. I would want to forbid all `.css` files. I tried `.css: "regex:"` but empty regex isn't allowed. Admittedly, that's a hack anyway.

In my specific case, I'm trying to target inconsistent naming between `.types.ts` an

[2022-02-03 00:19] jfairley opened #67 "Acronyms in PascalCase"
I'm applying `ls-lint` to more of our existing repositories, and I'm at an impasse with files that have acronyms in the name. The PascalCase walker isn't happy with consecutive capital letters, at least more than 2; I see you already have a special case accounted for, citing `SsrVFor.ts`.

In my case, I have files with SEO in the name. Consider a file like `ManualSEO.tsx`. I _know_ I can lowercase

[2022-02-07 22:20] binary64 commented on #42
Not sure if related but I'm trying to find out why my ls-lint takes ~26 seconds on my Windows PC (very modern cpu, gen4 pcie disk) ... but takes ~2.01 seconds on my Linux pipeline with 3 vCPU's. Both have node_modules.

`find | wc` takes 10 seconds on my Windows.

[2022-02-07 22:37] binary64 opened #69 "Feature request: File-orientated rules"
Regarding https://github.com/loeffel-io/ls-lint/issues/30#

Could this feature be powerful enough to help me enforce test files for every .tsx no matter my structure?

Because I can imagine a regex solution to check for exists would quickly get complicated to manage. Imagine you have a components directory, and inside it you are going to have a wide variety of organization. On one hand you might h

[2022-02-07 22:40] binary64 opened #70 "Specifying default file type"
Hi is it possible to have a default fallback like

[code]
would only allow files like blahBlah.txt and hello.txt

test.jpg and so on would cause error

at the moment I'm having to specify every file type under the sun to be `'regex:$never'` (which is my little hack to make sure these files do not exist)

[2022-02-20 15:37] aphecetche commented on #56
sorry for the late answer : no, it does not work (at least for what I want to do, I.e. have the full filename be kebab-case), as the casing of the extension itself is not checked as far as I can tell.

[2022-02-23 14:38] loeffel-io commented on #42
fyi: ls-lint v1.11.0 will boost! around 1100% faster then v1.10.0 (tested with nuxt.js repo)

[2022-02-23 15:14] #42 closed

[2022-02-23 15:14] #44 closed

[2022-02-24 10:37] loeffel-io commented on #70
Hey @binary64,

love the idea but i am not sure how to handle that in combination with directories for now

will think about that 👍

[2022-02-25 02:44] jfairley commented on #42
I installed 1.11.0 today. It's practically instantaneous! Awesome!

[2022-02-25 16:29] loeffel-io commented on #42
🔥

[2022-03-04 03:03] microJ opened #71 "advanced ext category inside ls-lint"
usually, lint has some common feature;
- lint all files ext is `.html`
- lint all files is some kind;
  - like image ext is `.jpg` `.JPG` `.gif` `.svg` and so on

[2022-03-11 01:17] jfairley opened #72 "Question: Is it possible to verify a repeated pattern?"
I just created a NestJS app. Long-story-short, when you use the NestJS CLI tool, you end up with files/directories like so:

[code]

I'd like to verify that the file root matches its directory name, but I'm not sure if it's possible.

I would want the linter to reject something like `src/user/users.module.ts`.

Is there a way to lint a pattern like this?

[2022-03-11 01:18] jfairley commented on #72
Oh, it looks like I have duplicated https://github.com/loeffel-io/ls-lint/issues/59

[2022-03-16 10:22] loeffel-io commented on #72
close in case of duplication

[2022-03-16 10:22] #72 closed

[2022-03-28 09:50] tal-rofe commented on #18
@bizob2828

Is there any progress with this?

[2022-03-28 09:58] loeffel-io commented on #18
@tal-rofe yes! there is now a `warn` option: https://ls-lint.org/1.x/configuration/the-options.html#overview

[2022-03-28 10:01] tal-rofe commented on #18
What? I asked about lint-staged

[2022-03-28 10:13] loeffel-io commented on #18
My fault, this is not supported yet

[2022-03-28 10:13] loeffel-io commented on #18
But you can start migrating your project now more easily with the `warn` option

[2022-04-22 19:01] tal-rofe commented on #71
@microJ

Hi, just letting you know, I've created new package which you can do all of this with.

You can check it out. Package name is `inflint`

[2022-04-22 19:56] loeffel-io commented on #71
i love it! will be put to the v2

[2022-04-25 05:02] microJ commented on #71
emm, there are something i want to discuss.
in web Front-End project，assets file is image/video/audio/font/json，that is easy to limit lint rules。
but Framework code maybe have different filename style. such as `main.ts` vs `App.tsx` vs `index.tsx`.  it's complex to set simple lint rule.

[2022-05-06 11:41] hanneskaeufler-bmw commented on #36
Is there any plan for a date for the V2 release? We are very interested in the `ignore` globbing, but unsure if that feature is near. Would be cool if anyone has any insight on the date or whether that feature is already implemented somewhere in a branch maybe? Thanks!

[2022-05-09 08:19] loeffel-io commented on #36
Hey @hanneskaeufler-bmw,

i really hope to get to this asap - feel free to submit a pr! ❤️

[2022-05-16 14:46] billxinli opened #73 "Command argument to provide path to the `.ls-lint.yml` file"
Is there a reason why the `.ls-lint.yml` file has to be in the root directory?

Would it be possible to provide a path to the config file with a command line cli?

We are hoping to get ls-lint landed in super-linter as well (https://github.com/github/super-linter/issues/2505)

However, in the meantime, it would be nice to keep the `.ls-lint.yml` with the other config files that's used for all the

[2022-05-16 22:20] loeffel-io commented on #73
Hey @billxinli, thank you for suggesting ls-lint to super-linter! ❤️

Your issue should be kind of a duplicate of #29

[2022-05-23 15:13] jnardone opened #74 "how do I create an ignore rule where the path starts with a '@'?"
Hi, I want to create an `ignore` rule for a path, but the path starts with `@`

[code]

I get `found character that cannot start any token` which is a YAML error.  But I can't find any way to escape this that ls-lint recognizes.

If I do `\@` it doesn't match.  Similarly if I single or double-quote the string.

How do I ignore this path?

[2022-05-23 17:14] loeffel-io commented on #74
Please try it like this

[code]

[2022-05-23 17:16] loeffel-io commented on #74
https://ls-lint.org/1.x/configuration/the-options.html#overview

[2022-05-23 17:18] jnardone commented on #74
Ah - I never tried single quotes.  That seems to work.

[2022-06-22 08:27] cbdeveloper commented on #45
I was looking for something like this as well.

For example:

[code]

It would be nice to do something like:

[code]

[2022-06-22 08:50] loeffel-io commented on #45
👍 i understand your need and i will evaluate that

[2022-07-20 14:33] petkostas opened #78 "Website down?"
It seems [https://ls-lint.org/](https://ls-lint.org/) is not working

[2022-07-20 14:41] loeffel-io commented on #78
There was a domain problem - give me some time - i'll fix it 👍

[2022-07-20 14:43] loeffel-io commented on #78
Please use this one for now: https://ls-lint-docs.onrender.com

[2022-07-20 15:15] petkostas commented on #78
Thanks! BTW the old domain is also now working!

[2022-07-20 15:15] #78 closed

[2022-07-27 14:30] einaren opened #79 "different rules for name and suffix"
Is it possible to enforce special rules wher filename is uppercase and suffix is lowercase?

I would like this to enforce these open source conventions

README.md
CHANGELOG.md
etc..

[2022-07-27 14:59] loeffel-io commented on #79
You can simple use a regex for this or we could provide a `uppercase` rule

[2022-07-28 20:22] Asuza commented on #30
I was just wondering if this feature is still on the table? This is exactly what I need to ensure some yarn files don't accidentally get removed.

[2022-08-01 07:45] loeffel-io commented on #30
still on the table - prs are welcome!

[2022-08-04 09:28] crazyx13th commented on #56
Wildcard support would be perfect (but not only for ignores)
I plan to define a regexp to forbid some file-extensions
[code]

[2022-08-05 13:54] Leifhaa opened #80 "Installation gives an error of architecture ia32"
Hello!

Whenever I'm trying to install ls-lint using the command:
`
npm install latest-version
`

I retrieve the following error:

npm ERR! code EBADPLATFORM
npm ERR! notsup Unsupported platform for @ls-lint/ls-lint@1.11.2: wanted {"os":"darwin,linux,win32","arch":"x64,arm64"} (current: {"os":"win32","arch":"ia32"})
npm ERR! notsup Valid OS:    darwin,linux,win32
npm ERR! notsup Valid Arch:  x64,a

[2022-08-06 11:33] loeffel-io commented on #80
Hello,

so you running a windows 32-bit system?

32 bit is not supported

[2022-08-06 11:34] Leifhaa commented on #80
Hello, appreciate the response!

No, I'm running x64-based

[2022-09-04 08:17] #79 closed

[2022-09-09 10:17] levaleks commented on #36
Hey @loeffel-io Thanks for the great lib!
Any updates on v2 release?

[2022-11-21 12:13] RaisinTen opened #82 "How to lint directory names with extensions without using a regex?"
I'm trying to lint the name of iconset directories. I was using snake case for all directory names, so previously my rule was:
[code]

but now that the project contains `.iconset` directories, I'm forced to use a regex like this:
[code]
to make sure that the part before `.iconset` is in snake case.

I think it would be great if we can find a way to allow people to lint directory names just like fi